@charset "UTF-8";
body {
  margin: auto;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  text-align: center;
}
header ul {
  list-style: none;
}
header li {
  display: inline-block;
}
header a {
  text-decoration: none;
  margin: 0px 50px;
  color: #0449B0;
  transition: color 0.3s ease;
}
header a:hover {
  background-color: #b6d2fd;
  border-radius: 4px;
  padding: 4px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}

#describtion {
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
}
#describtion p {
  width: auto;
  height: 120px;
  justify-content: center;
  align-items: center;
}
#describtion img:last-child {
  width: 100%; /* Розтягнення останнього зображення на всю ширину */
  border-radius: 10px; /* Округлені кути для фото під логотипом */
}

#description > * {
  margin: 0;
}

#intern, #tv, #discounts, #payments, #response, #news {
  display: flex;
  flex-direction: row;
}

#intern, #tv, #discounts {
  flex-wrap: wrap;
}

.internet {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: auto;
  border-color: #0449B0;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  border: 1px solid #0449B0;
  border-radius: 8px;
  padding: 12px;
  margin: 8px;
}
.internet button {
  background-color: #0449B0;
  color: aliceblue;
  border-color: #0449B0;
  padding: 8px 12px;
  border-radius: 4px;
  margin: 8px;
  width: 60%;
}

.internet:hover {
  transform: scale(1.2); /* Збільшення на 20% при наведенні */
  transition: transform 0, 2s ease-in-out; /* Плавний перехід */
}

.internet > * {
  margin: 8px;
}

#payments {
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 50px;
}
#payments select {
  height: 36px;
  width: 200px;
  border-radius: 4px;
  margin: 8px;
}
#payments input {
  height: 18px;
  width: 200px;
  border-radius: 4px;
  margin: 8px;
  padding: 6px;
}
#payments label {
  font-size: 14px;
  margin-left: 8px;
}
#payments button {
  background-image: url("./image/google-pay-svgrepo-com.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.news-card {
  height: 240px;
  width: 500px;
  border: 1px solid #0449B0;
  border-radius: 8px;
  padding: 12px;
}

.question {
  display: flex;
  flex-direction: column;
  background-color: #b6d2fd;
  padding: 16px 24px;
  border-radius: 8px;
}
.question div {
  display: flex;
  flex-direction: row;
}
.question .group {
  display: flex;
  flex-direction: column;
}
.question input {
  height: 24px;
  width: 200px;
  border-radius: 4px;
  margin: 8px;
}
.question label {
  font-size: 14px;
  margin-left: 8px;
  color: black;
  font-weight: bolder;
}
.question button {
  background-color: #0449B0;
  color: aliceblue;
  border-color: #0449B0;
  padding: 8px 12px;
  border-radius: 4px;
  margin-left: 6px;
  width: 100%;
}
.question textarea {
  border-radius: 4px;
  margin: 8px;
}
.question #quest {
  width: auto;
  height: 150px;
  margin-left: 6px;
}

.taryf, .recom, .chanels, .old-price {
  color: dimgrey;
  font-size: small;
  text-align: center;
}

.title, .price {
  font-size: large;
  font-weight: bold;
  color: #0449B0;
}

#response {
  margin-bottom: 50px;
}

.news-card {
  margin: 8px;
  width: 50%;
  height: auto;
}

.news-card date {
  font-size: small;
}

.services, .data {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  color: #0449B0;
  font-size: medium;
  font-weight: bolder;
}

.prefer {
  background-color: #b6d2fd;
  border-radius: 8px;
  padding: 16px 16px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #b6d2fd;
  border-radius: 8px;
  text-align: left;
  width: 100%;
  margin: 0;
}
footer img {
  width: auto;
  height: 60px;
}
footer ul {
  list-style: none;
}
footer a {
  text-decoration: none;
  margin: 0px 50px;
  color: #0449B0;
  transition: color 0.3s ease;
}
footer a:hover {
  color: #0449B0;
  font-weight: bold;
}

footer > * {
  margin: 20px;
}

.mobile-menu, .mobile-menu-list {
  display: none;
}

@media only screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    height: 50px;
  }
  header ul li {
    display: block;
  }
  header .menu {
    display: none;
  }
  main img {
    max-width: 80%;
    height: auto;
  }
  #describtion {
    margin-left: 50px;
  }
  .mobile-menu {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    cursor: pointer;
  }
  .mobile-menu-list {
    display: none;
    list-style-type: none;
    text-align: left;
    left: 0;
    top: 0;
    float: right;
    text-decoration: none;
    width: fit-content;
    background-color: white;
    cursor: pointer;
  }
  .mobile-menu-list li {
    margin-bottom: 8px;
  }
  button {
    background-color: #b6d2fd;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 4px;
  }
}

/*# sourceMappingURL=style.css.map */
